.DS_Store
*.pyc
*~
.svn
*.sw[nop]
/public/static/admin
/public/static/cms
/public/media
/public/media/asset_thumbs
/public/media/assets
/public/media/collection_photos
/public/media/ctas
/public/media/flashpages
/public/media/gallery_photos
/public/media/home
/public/media/original_videos
/public/media/productgroups
/public/media/products
/public/media/videos
/public/media/wallpaper
/public/media/wallpaper_thumbnails
/public/static/signatures
#/public/static
/log
/webcube
/simplecart
/build
/chimpy
/configstore
/django
/django-configstore
/django-localedb
/django-test-extensions
/fullhistory
/localedb
/money
/simplecart
/src
/test_extensions
public/static/accounts/
public/static/currencies/
public/static/homeflashimages/
public/static/infopages/
public/static/jobs/
public/static/oms/js/tabcomplete.js
public/static/photogallery/
public/static/photos/
public/static/refresh/css/main copy.css
public/static/refresh/images/about-designer-story-paula.jpg
public/static/refresh/images/about-giving-back.jpg
public/static/refresh/images/contact-us-infos.png
public/static/refresh/images/customer-service-care-tips-lifestyle.jpg
public/static/refresh/images/customer-service-fit-guide-table.gif
public/static/refresh/images/customer-service-fit-guide-table.jpg
public/static/refresh/images/customer-service-fit-guide.jpg
public/static/refresh/images/lifestyle-vix-story-with-shadow.jpg
public/static/refresh/images/marker.png
public/static/refresh/images/marker_shadow.png
public/static/refresh/images/online-logo-dianes.png
public/static/refresh/images/online-logo-ebw.png
public/static/refresh/images/online-logo-nordstrom.png
public/static/refresh/images/product-thumb-1.jpg
public/static/refresh/images/product-thumb-2.jpg
public/static/refresh/images/product-thumb-3.jpg
public/static/refresh/images/product-thumb-4.jpg
public/static/signatures/share/
public/static/store_js/
public/static/supportdocs/
public/static/tiny_mce
public/static/videos/css/
public/static/videos/flash/caurina/
public/static/videos/flash/elements/
public/static/videos/images/
public/static_old/
